*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Abasan";
    src : url(../fonts/other/pixelboy-Abasan.eot);
    src : url(../fonts/other/pixelboy-Abasan.eot) format("embedded-opentype"),
          url(../fonts/other/pixelboy-Abasan.woff) format("woff"),
          url(../fonts/other/pixelboy-Abasan.ttf) format("truetype");

}
@font-face {
    font-family: "Shabnam";
    src : url(../fonts/shabnam/Shabnam-FD.eot);
    src : url(../fonts/shabnam/Shabnam-FD.eot) format("embedded-opentype"),
            url(../fonts/shabnam/Shabnam-FD.woff2) format("woff2");
}
@font-face {
    font-family: "Shabnam-Bold";
    src : url(../fonts/shabnam/Shabnam-Bold-FD.eot);
    src : url(../fonts/shabnam/Shabnam-Bold-FD.eot) format("embedded-opentype"),
            url(../fonts/shabnam/Shabnam-Bold-FD.woff2) format("woff2");
}
@font-face {
    font-family: "Shabnam-Light";
    src : url(../fonts/shabnam/Shabnam-Light-FD.eot);
    src : url(../fonts/shabnam/Shabnam-Light-FD.eot) format("embedded-opentype"),
            url(../fonts/shabnam/Shabnam-Light-FD.woff2) format("woff2");
}
@font-face {
    font-family: "Sahel";
    src : url(../fonts/sahel/Sahel-FD.eot);
    src : url(../fonts/sahel/Sahel-FD.eot) format("embedded-opentype"),
            url(../fonts/sahel/Sahel-FD.woff2) format("woff2"),
            url(../fonts/sahel/Sahel-FD.woff) format("woff"),
            url(../fonts/sahel/Sahel-FD.ttf) format("truetype");
}
.Abasan{
    font-family: "Abasan";
}
.Shabnam{
    font-family: "Shabnam";
}
.Shabnam-Bold{
    font-family: "Shabnam-Bold";
}
.Sahel{
    font-family: "Sahel";
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1300px;
    margin: 0 70px;
}
img{
    max-width: 100%;
}
.header{
    
    font-family: "Abasan";
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: -0.5rem;
    background-color: #ffffff;
    /* height: 80px; */
    margin-top: 0;
    padding: 1rem 0;
}
.d-flex{
    display: flex;
}
.header img{
    max-width: 100px;
}
.logo-text
{
    display: flex;
    font-size: 25px;
}
.logo-text a{
  
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7px;
}
.nav-header ul li{
    font-size: 20px;
    padding: 12px;
}
.search-header form{
    display: flex;
    gap: 0;
}
.search-header button{
    font-family: Shabnam;
    width: 10rem;
    padding: 0.5rem;
    font-size: 20px;  
}
.search-header input{
    font-family: Shabnam;

         width: 20rem;
        padding: 0.5rem;
        font-size: 20px;
}
.search-header form input{
outline: 0;
border: none;
box-shadow: 3px 2px 6px 0 rgba(0,0,0,.2);
height: 3.3rem;
}
.search-header form button{
    outline: 0;
    border: none;
    box-shadow: 3px 2px 6px 0 rgba(0,0,0,.2);
    height: 3.3rem;
    background: linear-gradient(to bottom, #0074e4, #0055a2);
    color: white;
}
.nav-header ul li:nth-child(4){
    background-color: #0000ff;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 24px;
}
/* w3schools card*/
.card {
font-family: Shabnam;
line-height: 35px;
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
max-width: 300px;
margin: auto;
text-align: center;
margin: 0.5rem;
border: none;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
font-family: Shabnam;
border: none;
outline: 0;
padding: 10px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 15px;
padding-top: 10px;
margin: 20px;
border-radius: 15px;
background-color: orangered;
}

.card button:hover {
opacity: 0.7;
}
.title{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 2rem 0rem 1rem 0;
}
.title-icon{
    display: flex;
}
.title-icon img{
    width: 50px;
    height: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.card h3{
    display: flex;
    font-size: 20px;
    margin: 0px 10px;
}
.card img{
    border-radius: 10px;
}
.card p{
    display: flex;
    font-size: 20px;
    margin: 9px 10px;
    font-size: 14px;
}
.cards a{
    color: black;
}
/* .btn-orange{
    border-radius: 15px;
    background-color: orangered;
} */
.buttom-show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.buttom-show-more button {
    font-family: Shabnam;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 35px;
    border-color: rgb(151, 151, 245);
    background-color: white;
    width: 300px;
    color:rgb(151, 151, 245);
    font-size: 20px;
}
.toman{
    font-family: Abasan;
}
.card-price{
    font-family: Abasan;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 16px;
    
}
.card-time{
    font-family: Shabnam-Light;
}
.black-white {
    filter: grayscale(100%);
  }
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .top-footer{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
  }
  .down-footer{
    background-color: #e6e6e6;
  }
  .right-top-footer{
    width: 700px;
    display: flex;
    margin: 1rem;
  }
  .right-rtf a{
    display: block;
  }
  .right-rtf{
    line-height: 35px;
    margin:0 1.2rem;
  }
  .middle-rtf a{
    display: block;
  }
  .middle-rtf{
    line-height: 35px;
    margin:0 1.2rem;
  } 
  .left-rtf a{
    display: block;
  }
  .left-rtf{
    margin:0 1.2rem;
    line-height: 35px;
  }
  .right-ltf a img{
    width: 80px;
    height: 80px;
}
.left-top-footer{
    DISPLAY: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin: 1rem;
    margin-left: 7%;
}
.left-top-footer a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
        background-color: white;
        padding: 0.5rem;
        border-radius: 20px;
        height: 64px;
        width: 200px;
}
.left-top-footer a p{
    padding: 0.2rem;
}

.left-top-footer a p:nth-child(1){
    FONT-SIZE: 12PX;
    OPACITY: 0.7;
}
.left-top-footer a:nth-child(3) p:nth-child(1){
    FONT-SIZE: 12PX;
    OPACITY: 1;
    font-size: 20px;
}

.left-top-footer a img{
    width: 50px;
    height: 50px;
}
.footer-icon img{
    width: 30px;
    height: 30px;
    margin: 0 15px;
}
.down-footer{
    display: flex;
    justify-content: space-between;
}
.right-down{
    display: flex;
    align-items: center;
    padding: 0.6rem;
}
.left-down{
    display: flex;
    align-items: center;
    padding: 0.6rem;
    margin-left: 5rem;

}
.footer a:hover{
    color: orangered;
   
}
.footer a{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
/* .left-top-footer a:hover{
    color: orangered;
} */